@font-face {
    font-family: patron;
    src: url("fonts/PatronPersonalUseRegular-ywy4Y.ttf") format("truetype");
}


@font-face {
    font-family: road;
    src:url("fonts/RoadtestRegular-8V9z.ttf") format("truetype");
}

@font-face {
  font-family: varela;
  src: url("fonts/VarelaRound-Regular.ttf") format("truetype");
}

.nav {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: end;
}

.logo {
  display: flex;
  align-items: center;

}

.logo img {
  padding: 10px;
}

.nav ul {
  display: flex;
  background-color: rgb(194, 255, 252);
  align-items: center;
  justify-content: flex-start;

}

.nav ul li {
  display: inline-block;
  background-color: rgb(194, 255, 252);
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin: 0px 25px;
}

.nav ul li a {
  color: var(--main-text-colour);
  text-decoration: none;
}

.logo p {
  color: var(--main-text-colour);
  font-family: road;
  font-size: 35px;
}

.logo a {
  display: flex;
}

.list {
  display: flex;
}

.about h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: var(--main-text-colour);
  text-decoration: none;
}

.menu ul li {
  display: inline-block;
  background-color: rgb(194, 255, 252);
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin: 0px 25px;
}

.menu {
  display: flex;
  font-size: 10px;
  justify-content: flex-end;
  align-content: flex-end;
}

.button-85 {
  padding: 0.2em 1.2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 12px;
  font-family: patron;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.intro {
  height: 90px;
  justify-content: center;
  align-content: center;
  display: flex;
  background: #000;
}

.intro img {
  height: inherit;
}

.content {
  display: flex;
  background: rgba(136, 136, 136, 0.34);
  color: rgb(255, 255, 255);
  margin: 0px 30px 0px 30px;
  border-radius: 45px;
  height: 700px;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: -10px;
  font-family: road;
  font-size: x-large;
  color: #000;
}

.heading h1 {
  text-shadow: 2px 2px 15px #00ffd5;
}

.card {
  display: flex;
  color: #000;
  margin: 0px 30px 0px 30px;
  border-radius: 45px;
  height: 600px;
  font-family: varela;
  font-size: large;

}

.tech {
  margin: 36px;
  padding: 20px;
  border-radius: 30px;
  background-image: url(/img/tech.jpg);
  background-size: cover;
  background-position: center;
  /* font-family: varela; */
  box-shadow: 0 5px 30px 0px black;
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-shadow: white 1px 1px 2px;

}

.tech h1 {
  font-family: road;
  font-size: xxx-large;
  margin-top: -90px;
  margin-left: 30px;
}

.auto {
  margin: 36px;
  border-radius: 30px;
  padding: 20px;
  background-image: url(/img/bmw.png);
  background-size: cover;
  background-position: center;
  /* font-family: varela; */
  box-shadow: 0 5px 30px 0px black;
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-shadow: white 1px 1px 2px;
}

.auto h1 {
  font-family: road;
  font-size: xxx-large;
  margin-top: -90px;
  margin-left: 30px;
}

.unboxing {
  margin: 36px;
  border-radius: 30px;
  padding: 20px;
  background-image: url(/img/youtube\ unbox.jpeg);
  background-size: cover;
  background-position: center;
  /* font-family: varela; */
  box-shadow: 0 5px 30px 0px black;
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-shadow: white 1px 1px 2px;
}

.unboxing h1 {
  font-family: road;
  font-size: xxx-large;
  margin-top: -90px;
  margin-left: 30px;
}

.button1 {
  padding: 0.2em 1.2em;
  border: none;
  outline: none;
  color: rgb(122, 8, 8);
  background: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 25px;
  font-family: road;
  margin: 0px 50px 0px 50px;
  height: 50px;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.button1:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button1 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.86);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.apps{
  padding-top: 10px;
}